@use "variables" as var;
@use "mixin" as mix;

.footer{
    @include mix.flex-set(column,flex-start);
    align-items: center;
    background-color: var.$footer-background-color;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1rem;
    color: white;

    @media (min-width: 1024px){
        @include mix.flex-set(row,flex-end);
        padding: 3.8rem 4rem 1.5rem 2rem;
        gap: 6rem;
    }
    
    &__logo{
        transform: scale(0.3);
        display: inline-block;
    }
    &__item > a{
        color: white;
    }
    &__list{
        @include mix.flex-set(column,flex-start);
        gap: 0.5rem;

        @media (min-width: 1024px){
            @include mix.flex-set(row,flex-end);
            order: -1;
            gap: 1rem;

            & > :nth-child(2){
                margin-right: 2rem;
            }
        }
    }
    i{
        margin-right: 0.5rem;
        display: inline-block;
        width: 1rem;  
    }
}