@use "variables" as var;
@use "assets/btn.scss";

.hero{
    flex-direction: column;
    text-align: center;
    display: flex;

    &__title{
        margin-bottom: 0.5rem;
    }
    &__subtitle{
        margin-bottom: 1.5em;
        font-size: 18px;
        font-weight: 300;
    }
    .btn{
        @include btn.btn;
    }
    
}
