@use "variables" as var;
@use "mixin" as mix;
.restaurants{
    a{
        color: black;
    }
    input{
        display: none;
    }
    .relative-for-like{
        position: relative;
    }


    @include mix.flex-set(column,flex-start);
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1.5rem;

    &__title{
        padding-left: 0.5em;
    }

    &__list{
        @include mix.flex-set(column,center);
        gap: 1.2rem;
    }

    .card{
        display: block;
        @include mix.shadow-card;  
        border-radius:15px;
        overflow: hidden;
        position: relative;

        &__image > img{
            height: 180px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        &__new{
            @include mix.flex-set(row,center);
            align-items: center;
            position: absolute;
            transform: translateX(-150%);
            left: 100%;
            margin: 1rem 2rem;
            box-shadow: 0px 4px 0px var.$shadow-color;
            height: 30px;
            padding: 0rem 1rem;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            background-color: var.$tertiary-color;
            color: var.$tertiary-dark-color;
            
            &--none{
                display: none;
            }
        }
        &__content{
            @include mix.flex-set(row,space-between);
            align-items: center;
            background-color: var.$secondary-background-color;
            padding: 1rem 1rem;
        }
        //generator svg icons
        @for $i from 1 through 4{
            &__like-#{$i}{ //For the location of the heart on the map
                position: absolute;
                z-index: 2;
                bottom: 24px;
                right: 1.5em;
            }
            &__icon-#{$i}{ //Style of like
                transform-origin: center;
                width: 24px;
                stroke: Black;
                stroke-width: 2em;
                overflow: visible;
                cursor: pointer;

                &--gradient{
                    stop:first-child{
                        stop-color: white;
                    }
                    stop:last-child{
                        stop-color: white;
                    }
                }
            }
        }  
        &__details{
            & > h3{
                font-size: 20px;
                margin-bottom: 0.3em;
            }
            & > p{
                font-size: 17px;
                font-weight: 300;
            }
        }
        
    }
}