$main-color: #9356dc;
$secondary-color: #FF79DA; 
$tertiary-color: #99E2D0; 
$tertiary-dark-color: #008766;
$shadow-color: rgba(0,0,0,0.1);
$main-background-color: #F6F6F6;
$secondary-background-color: #FFFFFF;
$footer-background-color: #353535;