@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #F6F6F6;
}

.title-font {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 3rem 2rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  section {
    padding: 3rem 12%;
  }
}
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.site-header__back-icon {
  display: block;
  position: absolute;
  left: 0;
  margin: 2rem;
  z-index: 2;
}
.site-header__logo {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1;
}
.site-header__logo--none {
  box-shadow: inherit;
}
@media (min-width: 1024px) {
  .site-header__logo {
    box-shadow: inherit;
  }
}
.site-header__logo > img {
  transform: scale(0.4);
}
.site-header__icon {
  color: #353535;
}
.site-header__location {
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  z-index: 0;
}
@media (min-width: 1024px) {
  .site-header__location {
    box-shadow: inherit;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #353535;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  gap: 1rem;
  color: white;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3.8rem 4rem 1.5rem 2rem;
    gap: 6rem;
  }
}
.footer__logo {
  transform: scale(0.3);
  display: inline-block;
}
.footer__item > a {
  color: white;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    order: -1;
    gap: 1rem;
  }
  .footer__list > :nth-child(2) {
    margin-right: 2rem;
  }
}
.footer i {
  margin-right: 0.5rem;
  display: inline-block;
  width: 1rem;
}

@keyframes loading-page-dot {
  10%, 20% {
    transform: scale(1.1, 0.6);
    transform-origin: bottom;
  }
  30% {
    transform: scale(0.8, 1) translateY(-30px);
    transform-origin: top;
  }
  60% {
    transform: scale(1.1, 0.65) translateY(0);
    transform-origin: bottom;
  }
  70%, 100% {
    transform: scale(1, 1) translateY(0);
    transform-origin: bottom;
  }
}
@keyframes finish-load {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
@keyframes like {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.home-page .functioning {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
.home-page .functioning__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .home-page .functioning__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.home-page .functioning__icon {
  color: #7E7E7E;
}
.home-page .functioning__icon--purple {
  color: #9356dc;
}
.home-page .functioning__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 4.5em;
  position: relative;
}
@media (min-width: 1024px) {
  .home-page .functioning__content {
    width: 25%;
    padding-right: 2rem;
  }
}
.home-page .functioning__content-title {
  font-weight: 500;
  font-size: 16px;
}
.home-page .functioning__content > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  bottom: 50%;
}
.home-page .functioning__content > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-left: 2em;
}
.home-page .loading-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #9356dc, #FF79DA);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  animation: finish-load 300ms 0s ease-in-out forwards;
}
.home-page .loading-page__dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.home-page .loading-page__dots--1 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  animation: loading-page-dot 1200ms 0ms cubic-bezier(0.65, 0, 0.25, 1) forwards infinite;
}
.home-page .loading-page__dots--1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.home-page .loading-page__dots--2 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  animation: loading-page-dot 1200ms 242.2ms cubic-bezier(0.65, 0, 0.25, 1) forwards infinite;
}
.home-page .loading-page__dots--2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.home-page .loading-page__dots--3 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  animation: loading-page-dot 1200ms 484.4ms cubic-bezier(0.65, 0, 0.25, 1) forwards infinite;
}
.home-page .loading-page__dots--3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.home-page .hero {
  flex-direction: column;
  text-align: center;
  display: flex;
}
@media (min-width: 1024px) {
  .home-page .hero {
    gap: 1.3rem;
  }
}
.home-page .hero__title {
  margin-bottom: 0.5rem;
}
.home-page .hero__subtitle {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .home-page .hero__subtitle {
    margin-bottom: 1rem;
  }
}
.home-page .hero .btn {
  background: linear-gradient(to top, #9356dc, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  height: 50px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: box-shadow 400ms;
}
.home-page .hero .btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.home-page .hero .btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
}
.home-page .hero .btn:hover::after {
  opacity: 0.15;
}
.home-page .restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .home-page .restaurants {
    padding: 3rem 12%;
  }
}
.home-page .restaurants__title {
  padding-left: 0.5em;
}
@media (min-width: 1024px) {
  .home-page .restaurants__title {
    padding-left: 0em;
  }
}
.home-page .restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
@media (min-width: 1024px) {
  .home-page .restaurants__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .home-page .restaurants__list li {
    width: 45%;
  }
}
.home-page .restaurants a {
  color: black;
  height: 100%;
}
.home-page .restaurants input {
  display: none;
}
.home-page .restaurants .relative-for-like-1 {
  position: relative;
}
.home-page .restaurants .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--heart-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--heart-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--border-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--border-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-1__label {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  right: 1.5em;
}
.home-page .restaurants .relative-for-like-1__icon {
  transform-origin: center;
  width: 24px;
  stroke-width: 2em;
  overflow: visible;
  cursor: pointer;
  transform: scaleY(1.1);
}
.home-page .restaurants .relative-for-like-1__icon--heart-stop-1, .home-page .restaurants .relative-for-like-1__icon--heart-stop-2 {
  stop-color: white;
  transition: all 300ms;
}
.home-page .restaurants .relative-for-like-1__icon--border-stop-1, .home-page .restaurants .relative-for-like-1__icon--border-stop-2 {
  stop-color: black;
  transition: all 300ms;
}
.home-page .restaurants .relative-for-like-2 {
  position: relative;
}
.home-page .restaurants .relative-for-like-2__input:checked ~ .relative-for-like-2__label .relative-for-like-2__icon--heart-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-2__input:checked ~ .relative-for-like-2__label .relative-for-like-2__icon--heart-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-2__input:checked ~ .relative-for-like-2__label .relative-for-like-2__icon--border-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-2__input:checked ~ .relative-for-like-2__label .relative-for-like-2__icon--border-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-2__label {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  right: 1.5em;
}
.home-page .restaurants .relative-for-like-2__icon {
  transform-origin: center;
  width: 24px;
  stroke-width: 2em;
  overflow: visible;
  cursor: pointer;
  transform: scaleY(1.1);
}
.home-page .restaurants .relative-for-like-2__icon--heart-stop-1, .home-page .restaurants .relative-for-like-2__icon--heart-stop-2 {
  stop-color: white;
  transition: all 300ms;
}
.home-page .restaurants .relative-for-like-2__icon--border-stop-1, .home-page .restaurants .relative-for-like-2__icon--border-stop-2 {
  stop-color: black;
  transition: all 300ms;
}
.home-page .restaurants .relative-for-like-3 {
  position: relative;
}
.home-page .restaurants .relative-for-like-3__input:checked ~ .relative-for-like-3__label .relative-for-like-3__icon--heart-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-3__input:checked ~ .relative-for-like-3__label .relative-for-like-3__icon--heart-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-3__input:checked ~ .relative-for-like-3__label .relative-for-like-3__icon--border-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-3__input:checked ~ .relative-for-like-3__label .relative-for-like-3__icon--border-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-3__label {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  right: 1.5em;
}
.home-page .restaurants .relative-for-like-3__icon {
  transform-origin: center;
  width: 24px;
  stroke-width: 2em;
  overflow: visible;
  cursor: pointer;
  transform: scaleY(1.1);
}
.home-page .restaurants .relative-for-like-3__icon--heart-stop-1, .home-page .restaurants .relative-for-like-3__icon--heart-stop-2 {
  stop-color: white;
  transition: all 300ms;
}
.home-page .restaurants .relative-for-like-3__icon--border-stop-1, .home-page .restaurants .relative-for-like-3__icon--border-stop-2 {
  stop-color: black;
  transition: all 300ms;
}
.home-page .restaurants .relative-for-like-4 {
  position: relative;
}
.home-page .restaurants .relative-for-like-4__input:checked ~ .relative-for-like-4__label .relative-for-like-4__icon--heart-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-4__input:checked ~ .relative-for-like-4__label .relative-for-like-4__icon--heart-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-4__input:checked ~ .relative-for-like-4__label .relative-for-like-4__icon--border-stop-1 {
  stop-color: #FF79DA;
}
.home-page .restaurants .relative-for-like-4__input:checked ~ .relative-for-like-4__label .relative-for-like-4__icon--border-stop-2 {
  stop-color: #9356dc;
}
.home-page .restaurants .relative-for-like-4__label {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  right: 1.5em;
}
.home-page .restaurants .relative-for-like-4__icon {
  transform-origin: center;
  width: 24px;
  stroke-width: 2em;
  overflow: visible;
  cursor: pointer;
  transform: scaleY(1.1);
}
.home-page .restaurants .relative-for-like-4__icon--heart-stop-1, .home-page .restaurants .relative-for-like-4__icon--heart-stop-2 {
  stop-color: white;
  transition: all 300ms;
}
.home-page .restaurants .relative-for-like-4__icon--border-stop-1, .home-page .restaurants .relative-for-like-4__icon--border-stop-2 {
  stop-color: black;
  transition: all 300ms;
}
.home-page .restaurants .card {
  display: block;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.home-page .restaurants .card__image > img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home-page .restaurants .card__new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-150%);
  left: 100%;
  margin: 1rem 2rem;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
  height: 30px;
  padding: 0rem 1rem;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
}
.home-page .restaurants .card__new--none {
  display: none;
}
.home-page .restaurants .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 1rem 1rem;
}
@media (min-width: 1024px) {
  .home-page .restaurants .card__content {
    height: 7vh;
  }
}
.home-page .restaurants .card__details > h3 {
  font-size: 20px;
  margin-bottom: 0.3em;
}
.home-page .restaurants .card__details > p {
  font-size: 17px;
  font-weight: 300;
}

.la_palette_du_gout .illustration__image {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.la_palette_du_gout .menu-page {
  background-color: white;
}
.la_palette_du_gout .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  background: #F6F6F6;
  padding: 2rem 1rem 0rem 1rem;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -3rem;
  position: relative;
}
.la_palette_du_gout .menu::after {
  content: "";
  position: absolute;
  background-color: #F6F6F6;
  width: 100%;
  height: 3rem;
  bottom: 0;
  transform: translateY(3rem);
}
@media (min-width: 1024px) {
  .la_palette_du_gout .menu {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
  }
}
.la_palette_du_gout .menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}
.la_palette_du_gout .menu__title .relative-for-like-1 {
  position: inherit;
}
.la_palette_du_gout .menu__title .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--heart-stop-1 {
  stop-color: #FF79DA;
}
.la_palette_du_gout .menu__title .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--heart-stop-2 {
  stop-color: #9356dc;
}
.la_palette_du_gout .menu__title .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--border-stop-1 {
  stop-color: #FF79DA;
}
.la_palette_du_gout .menu__title .relative-for-like-1__input:checked ~ .relative-for-like-1__label .relative-for-like-1__icon--border-stop-2 {
  stop-color: #9356dc;
}
.la_palette_du_gout .menu__title .relative-for-like-1__label {
  position: inherit;
  z-index: 2;
  bottom: 24px;
  right: 1.5em;
}
.la_palette_du_gout .menu__title .relative-for-like-1__icon {
  transform-origin: center;
  width: 24px;
  stroke-width: 2em;
  overflow: visible;
  cursor: pointer;
  transform: scaleY(1.1);
}
.la_palette_du_gout .menu__title .relative-for-like-1__icon--heart-stop-1, .la_palette_du_gout .menu__title .relative-for-like-1__icon--heart-stop-2 {
  stop-color: white;
  transition: all 300ms;
}
.la_palette_du_gout .menu__title .relative-for-like-1__icon--border-stop-1, .la_palette_du_gout .menu__title .relative-for-like-1__icon--border-stop-2 {
  stop-color: black;
  transition: all 300ms;
}
@media (min-width: 1024px) {
  .la_palette_du_gout .menu__title {
    justify-content: center;
    gap: 1.5rem;
  }
}
.la_palette_du_gout .menu__title--text {
  font-size: 28px;
  text-wrap: nowrap;
}
.la_palette_du_gout .menu__group, .la_palette_du_gout .menu__selections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.la_palette_du_gout .menu__group {
  gap: 17px;
}
@media (min-width: 1024px) {
  .la_palette_du_gout .menu__group {
    width: 60%;
  }
}
.la_palette_du_gout .menu__group h2 {
  position: relative;
}
.la_palette_du_gout .menu__group h2::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.la_palette_du_gout .menu input {
  display: none;
}
.la_palette_du_gout .menu .card-menu-1-0__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-1-0 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-1-0 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-1-0 .card__content h3, .la_palette_du_gout .menu .card-menu-1-0 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-1-0 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-1-0 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-1-0 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-1-0 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-1-0 .card__check::before {
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-1-1__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-1-1 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-1-1 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-1-1 .card__content h3, .la_palette_du_gout .menu .card-menu-1-1 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-1-1 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-1-1 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-1-1 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-1-1 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-1-1 .card__check::before {
  content: "35€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-1-2__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-1-2 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-1-2 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-1-2 .card__content h3, .la_palette_du_gout .menu .card-menu-1-2 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-1-2 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-1-2 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-1-2 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-1-2 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-1-2 .card__check::before {
  content: "30€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-1-3__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-1-3 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-1-3 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-1-3 .card__content h3, .la_palette_du_gout .menu .card-menu-1-3 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-1-3 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-1-3 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-1-3 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-1-3 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-1-3 .card__check::before {
  content: "20€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-2-0__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-2-0 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-2-0 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-2-0 .card__content h3, .la_palette_du_gout .menu .card-menu-2-0 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-2-0 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-2-0 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-2-0 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-2-0 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-2-0 .card__check::before {
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-2-1__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-2-1 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-2-1 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-2-1 .card__content h3, .la_palette_du_gout .menu .card-menu-2-1 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-2-1 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-2-1 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-2-1 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-2-1 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-2-1 .card__check::before {
  content: "40€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-2-2__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-2-2 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-2-2 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-2-2 .card__content h3, .la_palette_du_gout .menu .card-menu-2-2 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-2-2 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-2-2 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-2-2 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-2-2 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-2-2 .card__check::before {
  content: "35€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-2-3__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-2-3 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-2-3 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-2-3 .card__content h3, .la_palette_du_gout .menu .card-menu-2-3 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-2-3 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-2-3 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-2-3 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-2-3 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-2-3 .card__check::before {
  content: "44€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-3-0__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-3-0 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-3-0 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-3-0 .card__content h3, .la_palette_du_gout .menu .card-menu-3-0 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-3-0 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-3-0 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-3-0 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-3-0 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-3-0 .card__check::before {
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-3-1__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-3-1 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-3-1 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-3-1 .card__content h3, .la_palette_du_gout .menu .card-menu-3-1 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-3-1 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-3-1 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-3-1 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-3-1 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-3-1 .card__check::before {
  content: "18€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-3-2__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-3-2 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-3-2 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-3-2 .card__content h3, .la_palette_du_gout .menu .card-menu-3-2 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-3-2 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-3-2 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-3-2 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-3-2 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-3-2 .card__check::before {
  content: "22€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .card-menu-3-3__input:checked ~ .card .card__check {
  margin-right: 0px;
}
.la_palette_du_gout .menu .card-menu-3-3 .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.la_palette_du_gout .menu .card-menu-3-3 .card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  gap: 0.2rem;
  overflow: hidden;
}
.la_palette_du_gout .menu .card-menu-3-3 .card__content h3, .la_palette_du_gout .menu .card-menu-3-3 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.la_palette_du_gout .menu .card-menu-3-3 .card__content h3 {
  font-weight: 500;
}
.la_palette_du_gout .menu .card-menu-3-3 .card__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.la_palette_du_gout .menu .card-menu-3-3 .card__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: -4rem;
  width: 4rem;
  background-color: #99e2d0;
  position: relative;
  transition: all 300ms;
}
.la_palette_du_gout .menu .card-menu-3-3 .card__check > i {
  color: white;
}
.la_palette_du_gout .menu .card-menu-3-3 .card__check::before {
  content: "23€";
  font-weight: 700;
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
}
.la_palette_du_gout .menu .btn {
  background: linear-gradient(to top, #9356dc, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  height: 50px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: box-shadow 400ms;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 2;
}
.la_palette_du_gout .menu .btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.la_palette_du_gout .menu .btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
}
.la_palette_du_gout .menu .btn:hover::after {
  opacity: 0.15;
}/*# sourceMappingURL=styles.css.map */